* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-size: 0.8em;
}

h2 {
  color: hsl(0, 0%, 100%);
  font-family: "Outfit", sans-serif;
}

p,
ul {
  font-family: "Outfit", sans-serif;

  color: hsl(215, 51%, 70%);
}

article {
  display: flex;
}

.day-eth {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.card {
  background-color: hsl(216, 50%, 16%);
  padding: 1rem 1rem 1.3rem;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 5rem;
}

.nft-img {
  height: 14.5rem;
  border-radius: 3%;
}

.view-img {
  transform: translate(5.6rem, 5.6rem);
}

.view-img-bg {
  opacity: 0;
  width: 14.5rem;
  height: 14.6rem;
  border-radius: 3%;
  background-color: hsl(178, 100%, 50%);
  position: absolute;
  top: 3.9rem;
  transition: all 0.4s;
}

.view-img-bg:hover {
  opacity: 1;
  cursor: pointer;
}

.card-content > p {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  font-size: 1.125em;
}

.avatar {
  height: 2rem;
  border: 0.06rem solid hsl(0, 0%, 100%);
  border-radius: 2rem;
}

.line {
  margin-top: 1rem;
  height: 1px;
  background-color: white;
}

@media (min-width: 500px) {
  .card {
    width: 17rem;
    margin: 19.5rem auto 1rem;
  }
}
